/*div{
	border: 1px solid black;
}*/

a{
	color:white;
}
a:hover {
	color:pink;
}
h1{
	font-size:10vw;
}


body{
	background-color:#345E90;
    color:white;
}
/* .row{
	height:100%;
} */

.btn{
	border-radius:10px;
	vertical-align:middle;
	background-color:black;
}

.circle{
	background-color:#d8d8d8;
	/*background-image: url(https://media.freestocktextures.com/cache/a8/de/a8ded350b50a82eed7a82b740b9e390a.jpg);*/
	height:150px;
	width:150px;
	border-radius:75%;
	display:block;
	margin:auto;
}
.circle2{
	background-color:#d8d8d8;
	/*background-image: url(https://media.freestocktextures.com/cache/a8/de/a8ded350b50a82eed7a82b740b9e390a.jpg);*/
	height:40px;
	width:40px;
	border-radius:75%;
	
	margin:auto;
}

#genX{
	background-color:#e0af95;
}

.X{
	background-color:grey;
	color:white;
	height: 100%;
}

#genY{
	background-color:#dd9d7b;
}
#genZ{
	background-color:#e58958;
}


.bottom{
	height:25px;
	/*background-color:black;*/
}
.stories{
	height:50px;
}
#storyA{
	background-color:#ffc7aa;

}
#storyB{
	background-color:#ffb48d;

}
#storyC{
	background-color:#ff9760;

}
#annoying{
	display:none;
}



@media(max-width:768px){

#storyA #storyB #storyC{ 
		display:block;
		float:none;
		width:100%;

}
#GENXYZ #yr_logo{
	display:block;
	float:none;
	width:100%;
}
#GENXYZ{
	font-size:20vw;
}
h5{
	font-size:5vw;
}
/*.circle{
	visibility:hidden;
	height:150px;
	width:150px;
	border-radius:75%;
	display:none;
	margin:auto;*/
}
.circle2{
	float:center;
}
/*.img-fluid{
	width:50%;
	height:100%;
}*/
}