/* div{
	border: 1px solid black;
} */

a{
	color:white;
}
a:hover {
	color:pink;
}
h1{
	font-size:10vw;
}

audio {
	width: 30%;
}

body{
	background-color:#345E90;
    color:white;
}
/* .row{
	height:100%;
} */

.btn{
	border-radius:10px;
	vertical-align:middle;
	background-color:black;
}

.stick-to-bottom-row{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.Desc {
	padding-bottom: 23px;
}

.circle{
	background-color:#d8d8d8;
	/*background-image: url(https://media.freestocktextures.com/cache/a8/de/a8ded350b50a82eed7a82b740b9e390a.jpg);*/
	height:150px;
	width:150px;
	border-radius:75%;
	display:block;
	margin:auto;
}
.circle2{
	background-color:#d8d8d8;
	/*background-image: url(https://media.freestocktextures.com/cache/a8/de/a8ded350b50a82eed7a82b740b9e390a.jpg);*/
	height:40px;
	width:40px;
	border-radius:75%;
	
	margin:auto;
}
#A{
	background-color: #E3FF99 ;
}

#A:hover{
	background-image: url(img/p1.png);
	background-size: cover; 
}

.a{
	color: #E3FF99 ;
}


#B{
	background-color: #AAFF99;
	
}

#B:hover{
	background-image: url(img/t2.png);
	background-size: cover; 
}

.b{
	color: #AAFF99;
}

#C{
	background-color: #00E0C4;
	
}

#C:hover{
	background-image: url(img/f1.png);
	background-size: cover; 
}

.c{
	color: #00E0C4;
}

#D{
	background-color: #B084CC;
}

#D:hover{
	background-image: url(img/s1.png);
	background-size: cover; 
}

.d{
	color: #B084CC;
}

#E{
	background-color:#7B6DE6 ;

}

#E:hover{

}

.e{

	color:#7B6DE6 ;
}
#genX{
	background-color:#e0af95;
}

.X{
	background-color: rgba(103, 103, 103, 0.6);
	color:white;
	height: 100%;
}

#genY{
	background-color:#dd9d7b;
}
#genZ{
	background-color:#e58958;
}


.bottom{
	height:25px;
	/*background-color:black;*/
}
.stories{
	height:50px;
}
#storyA{
	background-color:#00E0C4;

}
#storyB{
	background-color:#00D3Ba;

}
#storyC{
	background-color:#12c0ac;

}
#annoying{
	display:none;
}

.youthDesk{
	display: inherit;
}
.youthSmall{
	display: none;
}

.titleDesk{
	display: inline;
}

.titleMobile{
	display: none;
}

@media(max-width:768px){

.youthDesk{
	display: none;
}

.youthSmall{
	display: inline;
}

.titleDesk{
	display: none;
}

.titleMobile{
	display: inline;
}

#storyA #storyB #storyC{ 
		display:block;
		float:none;
		width:100%;

}
#GENXYZ #yr_logo{
	display:block;
	float:none;
	width:100%;
}
#GENXYZ{
	font-size:20vw;
}
h5{
	font-size:5vw;
}
/*.circle{
	visibility:hidden;
	height:150px;
	width:150px;
	border-radius:75%;
	display:none;
	margin:auto;*/
}
.circle2{
	float:center;
}
/*.img-fluid{
	width:50%;
	height:100%;
}*/
}