/*div{
	border: 1px solid black;
}*/


/* Link colors */
.politics:hover {
	color: #E3FF99;
}

.technology:hover {
	color: #7B6DE6;
}

.fashion:hover {
	color: #00E0C4;
}

.slang:hover {
	color: #B084CC;
}

.culture:hover {
	color: #AAFF99;
}

a{
	color:white;

}
h1{
	font-size:10vw;
}
h5{
	font-size:3vw;
}

body{
	background-color:#2E7AAE;
    color:white;
}
.row{
	height:100%;
}


.btn{
	border-radius:10px;
	vertical-align:middle;
	background-color:black;
}
.circle{
	/*background-color:#E3FF99; */
	/*background-image: url(https://media.freestocktextures.com/cache/a8/de/a8ded350b50a82eed7a82b740b9e390a.jpg);*/
	height:200px;
	width:200px;
	border-radius:75%;
	display:block;
	margin:auto;
}

.clear{
	opacity: 0.5;
}

.a-1:hover{
	color: #E3FF99;
}

.a-2:hover{
	color: #AAFF99;
}

.a-3:hover{
	color: #00E0C4;
}

.a-4:hover{
	color: #B084CC;
}

.a-5:hover{
	color: #7B6DE6;
}

a:hover {
	text-decoration: none;
}




/* #A:hover{
	background-image: url(img/Politics.gif);
	background-size: cover; 
}

#B:hover{
	background-image: url(img/Tech.gif);
	background-size: cover; 
}

#C:hover{
	background-image: url(img/Fashion.gif);
	background-size: cover; 
}

#D:hover{
	background-image: url(img/Slang.gif);
	background-size: cover; 
}

#E:hover{
	background-image: url(img/Music.gif);
	background-size: cover; 
} */

.a{
	color: #E3FF99 ;
}

#A{

	background-image:url(img/politicsv3.gif);
	background-size: cover; 
	background-color: #E3FF99 ;
}



#B{
	background-color: #7B6DE6;
	background-image: url(img/techv3.gif);
	background-size: cover; 

}

.b{
	color: #AAFF99;
}

#C{
	background-color: #00E0C4;
	background-image: url(img/fashionv3.gif);
	background-size: 200px 200px; 
}

.c{
	color: #00E0C4;
}

#D{
	background-color: #B084CC;
	background-image: url(img/slangv3.gif);
	background-size: cover; 
}

.d{
	color: #B084CC;
}

#E{
	background-color:#AAFF99 ;
	background-image: url(img/musicv3.gif);
	background-size: cover; 

}
.e{

	color:#7B6DE6 ;
}

.bottom{
	height:25px;
	/*background-color:black;*/
}
.stories{
	height:50px;
}
#storyA{
	background-color:#ffc7aa;

}
#storyB{
	background-color:#ffb48d;

}
#storyC{
	background-color:#ff9760;

}

@media(max-width:768px){

#A #B #C #D #E{ 
		display:block;
		float:none;
		width:100%;

}

#GENXYZ{
	font-size:20vw;
}
h5{
	font-size:5vw;
}
/*.img-fluid{
	width:50%;
	height:100%;
}*/
}